body{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #FFF3E0;
}

/**customizing the navigation bar*/
/* change the background color */
.navbar-custom, .custom-bg, .btn-custom {
    background-color: #FF9800;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.custom-dropdown .dropdown-item {
    color: rgb(255,255,255);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(255,255,255);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

#custom-toggle-button{
    color: white;
}

.form-headers h2, .section-headers h1{
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.form-headers, .section-headers{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 2px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: white;
}

#yummy-description{
    margin-top: 100px;
}

.btn-custom{
    color: white;
}

.btn-custom:hover{
    border: 1px solid #ff9800;
    color: #ff9800;
    background-color:white;
}

.overide-bgcolor{
    background-color: white;
}

.card-custom{
    border: 1px solid #FFE0B2;
    box-shadow: 2px 2px 1px #FFE0B2;
    -moz-box-shadow: 2px 2px 1px #FFE0B2;
    -webkit-box-shadow: 2px 2px 1px #FFE0B2;
    -o-box-shadow: 2px 2px 1px #FFE0B2;
    -ms-box-shadow: 2px 2px 1px #FFE0B2;
}

.custom-forms{
    margin-bottom: 15px;
}

.profile-card{
    padding: 5px;
}

.profile-card .p-card-top{
    background:  #ff9800
}
.profile-card .p-card-top .media img{
    margin: 2px;
}

.profile-card .p-card-bottom{
    width: 100%;
}

.profile-pic{
    width: 64px;
    height: 64px;
}

.round-corners-sm{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.p-card-bottom .recipes-summary{
    width: 45%;
    display: inline-block;
}

.links{
    color: #ff9800;
}

.links:hover{
    text-decoration: underline;
}

.recipes-section{
    padding: 10px;
}

.recipe-card{
    border: 1px solid #FFE0B2;
    box-shadow: 1px 1px 1px #FFF3E0;
}