<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico">-Come back to Add a favicon -->

    
    {% block title %}
        <title>
            {% if page_title %}
                {{ page_title }}-Yummy Recipes
            {% else %}
                Welcome To Yummy Recipes
            {% endif %}
        </title>
    {% endblock%}
    

    <!-- Bootstrap core CSS -->
    <link href="static/assets/styles/external/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/styles/external/fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="static/assets/styles/custom/main.css">
</head>

<body>

    <nav class="navbar navbar-toggleable-md navbar-custom fixed-top" id="navbar-custom">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars" id="custom-toggle-button"></span>
                </button>
            <a class="navbar-brand" href="#">Yummy Recipes</a>
            {% if user_is_logged_in %}
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-home"></i> Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-coffee"></i> Recipes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> User</a>
                        <div class="dropdown-menu navbar-custom custom-dropdown" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>

    {% block container %}

    {% endblock %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/assets/styles/external/bootstrap/js/jquery.slim.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="static/assets/styles/external/bootstrap/js/jquery.slim.min.js"><\/script>')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="static/assets/styles/external/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/assets/styles/external/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>