{% extends "base.html" %}
{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="profile-card round-corners-sm overide-bgcolor">
                    <div class="p-card-top round-corners-sm">
                        <div class="media">
                            <img class="d-flex mr-3 profile-pic" src="static/assets/media/images/default/profile.png" alt="John Doe's Picture">
                            <div class="media-body">
                                <br>
                                <h5 class="mt-0">{{ user.firstname + " " + user.lastname }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="p-card-bottom">
                        <div class="recipes-summary">
                            <span>Saved</span><br />
                            <span><a href="" class="links">112</a></span>
                        </div>
                        <div class="recipes-summary">
                            <span>Favorites</span><br />
                            <span><a href="#" class="links" >11</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <section class="recipes-section overide-bgcolor">
                    <header class="section-headers custom-bg">
                        <h1>Favourite Recipes</h1>
                    </header>
                    <div class="recipes-card-holder row">
                        {% for each_recipe in recipes %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="card recipe-card">
                                <img class="card-img-top" src="static/assets/media/images/default/recipe.png" alt="Recipe Image">
                                <div class="card-block">
                                    <h4 class="card-title">{{ each_recipe.name }}</h4>
                                    <p class="card-text">{{ each_recipe.description }}</p>
                                    <a href="#" class="btn btn-custom">Checkout Recipe</a>
                                </div>
                            </div>
                            {{ user }}
                            
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>

    </div>
    {% endblock %}