{% extends "base.html" %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="list-group custom-list-group">
                    <a href="{{ url_for('add_recipe') }}" class="list-group-item active">Add a Recipe</a>
                    <a href="{{ url_for('add_recipe_category')}}" class="list-group-item list-group-item-action">Add Recipe Category</a>
                </div>
                <div class="list-group custom-list-group">
                    <a href="#" class="list-group-item list-group-item-action">Recipe Category 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Recipe Category 2</a>
                    <a href="#" class="list-group-item list-group-item-action">Recipe Category 3</a>
                    <a href="#" class="list-group-item list-group-item-action">Recipe Category 4</a>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                <section class="custom-forms">
                    <div class="card card-custom">
                        <div class="card-block">
                            <header class="form-headers custom-bg">
                                <h2 class="card-title"><i class="fa fa-plus"></i> Edit {{ recipe.name }}</h2>
                            </header>
                            <form method="POST" id="login-form" action="">
                                <div class="form-group row">
                                    <div class="col-sm-3 offset-sm-1">
                                        <label for="name">Name:</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Recipe name" value={{ recipe.name }}>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3 offset-sm-1">
                                        <label for="category">Category: </label>
                                    </div>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="category" name="category">
                                            <option value="{{ recipe.category }}">Recipe Category {{ recipe.category }}</option>
                                            <option value="1">Recipe Category One</option>
                                            <option value="2">Recipe Category Two</option>
                                            <option value="3">Recipe Category Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3 offset-sm-1">
                                        <label for="description">Description:</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" id="description" name="description" placeholder="Short Recipe Description"> {{ recipe.description }}</textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 offset-sm-5">
                                        <button type="submit" class="btn btn-custom">Edit Recipe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
  {% endblock %}